h2 Edit retirement home

= render "form.html", changeset: @changeset, action: user_retirement_home_path(@conn, :update, @conn.assigns.current_user, @retirement_home)

//= link "Back", to: retirement_home_path(@conn, :index)
