h2
  = @retirement_home.title

.detail
  = @retirement_home.detail
//= link "Edit", to: retirement_home_path(@conn, :edit, @retirement_home)
//| &nbsp;
//= link "Back", to: retirement_home_path(@conn, :index)
