h2 Edit roles user

= render "form.html", conn: @conn, action: roles_user_update_path(@conn, :update, @user), as_role: [as: :role], roles: @roles, user: @user

//= link "Back", to: roles_user_path(@conn, :index)
