.wrapper {
  position: relative;
  display: inline-block;
  border: none;
  font-size: 14px;
  margin: 50px auto;
  left: 50%;
  transform: translateX(-50%);
}

.wrapper input {
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  opacity: 0;
}

.wrapper label {
  position: relative;
  float: right;
  color: #C8C8C8;
}

.wrapper label:before {
  margin: 5px;
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  font-size: 1.5em;
  color: #ccc;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.wrapper input:checked ~ label:before {
  color: #FFC107;
}

.wrapper label:hover ~ label:before {
  color: #ffdb70;
}

.wrapper label:hover:before {
  color: #FFC107;
}

.ui-rating {
  background-image: url("/images/front/star_rating/icon_star.png");
}

.ui-rating_valid {
  background-position: 4px -53px;
  padding: 58px 5px 0px 38px;
  background-attachment: scroll;
  background-repeat: no-repeat;
}

.ui-rating_not_valid {
  background-position: -158px -53px;
  padding: 58px 5px 0px 38px;
  background-attachment: scroll;
  background-repeat: no-repeat;
}
